1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Malyson Breno's Radiko Studio"
      VALUE "FileDescription", "RadiPako file archiver"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "RadiPako"
      VALUE "LegalCopyright", "Malyson Breno de Souza"
      VALUE "OriginalFilename", "RadiPako.exe"
      VALUE "ProductName", "RadiPako File Archiver"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END